.conteudo{
   
    float: left;
    width: 100%;
    background: #756e6e;
    margin: 10px 0px 0px 0px;
    padding: 1px;
    font-size: 12px;
   height: 39px;
}
.rodape{
    margin: 110px 0px 0px 0px;
 
}